.hello
 p.c 
   span.name C
   | reative technologist
   span.ampersand  &
   |  maker
 p.h
   a(href="https://hexatope.io" title="Hexatope")
     span.name h
     | exatope
   |  founder
 p.a
   a(href="http://abstractpuzzl.es" title="Abstract Puzzles")
     span.name a
     | bstract puzzles
   |  dreamer
 p.r
   span.name r
   | eally has 
   a(href="http://magnetfinge.rs" title="Magnet Fingers")
    | magnet fingers
 p.l
   span.name l
   | oves to read 
   a(href="https://www.goodreads.com/user/show/5008298-charlotte-dann" title="Goodreads") 
     svg.svg-icon(viewBox='0 0 100 100')
       use(xlink:href='#icon-goodreads')
   |  
   a(href="https://youtube.com/chareads" title="Chareads") 
     svg.svg-icon(viewBox='0 0 100 100')
       use(xlink:href='#icon-youtube')
 p.o
   span.name o
   | n 
   a(href="https://twitter.com/charlotte_dann" title="Twitter") 
     svg.svg-icon(viewBox='0 0 100 100')
       use(xlink:href='#icon-twitter')
   | , still
 p.t
   span.name t
   | ypes code 
   a(href="https://codepen.io/pouretrebelle" title="Codepen")
     svg.svg-icon(viewBox='0 0 100 100')
       use(xlink:href='#icon-codepen')
   |  
   a(href="https://github.com/pouretrebelle" title="Github")
     svg.svg-icon(viewBox='0 0 100 100')
       use(xlink:href='#icon-github')
 p.t
   span.name t
   | akes pics 
   a(href="https://instagram.com/charlottedann" title="Instagram")
     svg.svg-icon(viewBox='0 0 100 100')
       use(xlink:href='#icon-instagram')
 p.e 
   form.form(action='http://tinyletter.com/charlottedann', method='post', target='popupwindow', onsubmit="window.open('http://tinyletter.com/charlottedann', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true")
     .name.secret-e e
     input(type='hidden', value='1', name='embed')
     input.form-input(type='text', name='email' placeholder=' mails you once a month')
     p.form-shadow  mails you once a month
