.hello
  p.line.c
    span.name C
    | reative technologist
    span.ampersand  &
    |  maker
  p.line.h
    a(href="https://hexatope.io" title="Hexatope")
      span.name h
      | exatope
    |  designer and developer
  p.line.a
    a(href="https://chareads.com" title="Chareads")
      span.name a
      | vid consumer of books
    | &ensp;
    a(href="https://youtube.com/chareads" title="Chareads on YouTube")
      svg.svg-icon(viewBox='0 0 100 100')
        use(xlink:href='#icon-youtube')
    |  
    a(href="https://www.goodreads.com/user/show/5008298-charlotte-dann" title="Goodreads")
      svg.svg-icon(viewBox='0 0 100 100')
        use(xlink:href='#icon-goodreads')
  p.line.r
    span.name r
    | ather likes mazes and jigsaws
  p.line.l
    span.name l
    | eveling up her open-source&ensp;
    a(href="https://github.com/pouretrebelle" title="Github")
      svg.svg-icon(viewBox='0 0 100 100')
        use(xlink:href='#icon-github')
    |  
    a(href="https://codepen.io/pouretrebelle" title="Codepen")
      svg.svg-icon(viewBox='0 0 100 100')
        use(xlink:href='#icon-codepen')
  p.line.o
    span.name o
    | n the social internet&ensp;
    a(href="https://twitter.com/charlotte_dann" title="Twitter")
      svg.svg-icon(viewBox='0 0 100 100')
        use(xlink:href='#icon-twitter')
    | 
    a(href="https://instagram.com/charlottedann" title="Instagram")
      svg.svg-icon(viewBox='0 0 100 100')
        use(xlink:href='#icon-instagram')
  p.line.t
    span.name t
    | ruly has 
    a(href="https://magnetfinge.rs" title="Magnet Fingers")
      | magnets in her fingers
  p.line.t
    span.name t
    | alks at events, 
    a(href="mailto:hi@cha.rs") maybe yours?
  div.line.e 
    form.form(action='http://tinyletter.com/charlottedann' method='post' target='popupwindow' onsubmit="window.open('http://tinyletter.com/charlottedann', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true")
      .name.secret-e e
      input(type='hidden' value='1' name='embed')
      input.form-input(type='text' name='email' placeholder=' mails you every now and then')
      p.form-shadow  mails you every now and then
